[Unit]
Description = User Service
[Service]
User=roboshop
Environment=REDIS_HOST=172.31.92.170
Environment=MONGO_URL="mongodb://172.31.93.48:27017/users"
ExecStart=/bin/node /home/roboshop/user/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target