[Unit]
Description = Catalogue Service
[Service]
User=roboshop
Environment=MONGO_URL="mongodb://3.86.213.111:27017/catalogue"
ExecStart=/bin/node /home/roboshop/catalogue/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target