[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=ec2-3-82-152-157.compute-1.amazonaws.com
Environment=CATALOGUE_HOST=ec2-52-90-190-85.compute-1.amazonaws.com
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target