[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-{{ENV}}.myhostedzone:8080
Environment=DB_HOST=mysql-{{ENV}}.myhostedzone
ExecStart=/bin/java -jar /home/roboshop/shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target